{% extends 'base.html'%}

{% block content%}

<br>
<br>
<div class="search">
  <div class="contents">
    <div class="container image">
      <!-- <h2 id="title"><b>Welcome To ImageSplash</b></h2> -->
      <form class="form" role="search" action="{% url 'search_image' %}">
        
        <div class="input-group">
          <input type="text" class="form-control input" placeholder=" Search Image by category" name="image">&nbsp;&nbsp;   <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="button">Search</button>
          <br>
        </div>
        <p class="searches" style="color:whitesmoke;font-family: 'Nunito', sans-serif;">Trending searches:Music,Cities,Sports etc</p>
      </form>
    </div>
  </div>
</div>
<body>
  <br>
  <div class="container">
    <div class="row">
      {% for photo in photos %}
      <div class="col-xs-12 col-sm-6 col-md-4 images">
        <div class="thumbnail">
          <img src="{{photo.image.url}}"  data-toggle="modal" data-target="#exampleModalCenter{{photo.id}}" class = "img-responsive imagee" alt="" style="height:400px;width: 360px;">
          
          
          <!-- Modal -->
          <div class="modal fade modal" id="exampleModalCenter{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content" style="font-family: 'Nunito', sans-serif;">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle" style="font-size:30px;"><b>{{photo.name}}</b></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="{{photo.image.url}}"  class = "img-responsive" alt="" style="height:400px;width: 465px;">
                </div>
                <div class="modal-body">
                  <form action="">
                    <input type="text" value="https://imgsplash.herokuapp.com{{photo.image.url}}" id="" style="width:100%;height:40px;">
                    <br>
                    <button type="button" class="btn btn-outline-success" style="float:right;" value="https://imgsplash.herokuapp.com{{photo.image.url}}" onclick="copyLink(this.value)"  >Copy Link</button>
                  </form>
                  <br>
                  <br>
                  
                  <p style="font-size:22px;padding-right: 70px;">{{photo.description}}</p>
                  
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <script>
        function copyLink(value) {
          console.log('copied link')
          function handler(event){
            event.clipboardData.setData('text/plain', value);
            event.preventDefault();
            document.removeEventListener('copy', handler, true);
          }
          document.addEventListener('copy', handler, true);
          document.execCommand('copy');
          
          alert("Image link has been successfully copied")
        }
        
      </script>
      {% endfor %}
    </div>
  </div>
</body>

<style>
  @import url('https://fonts.googleapis.com/css?family=Nunito|Oleo+Script+Swash+Caps');
  
  body{
    background: #d6d5d5;
  }
  
  .search{
    background: url(/static/photos/cam.jpeg) no-repeat 0px 0px;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position: center;
    height: 500px;
    
  }
  .searchh{
    color: whitesmoke;
  }
  .input{
    height: 40px;
  }
  
  ::placeholder{
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
  }
  #button{
    font-family: 'Nunito', sans-serif;
  }
  .image{
    padding-top: 70px;
  }
  
  #title{
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
  }
  /*--Banner--*/
  div.container.image{
    padding: 6em 0 0;
  }
  div.container.imageloc{
    padding: 4em 0 0;
  }
  .search h2{
    padding-bottom: 20px;
  }
  .search-1 h2{
    color: #c3c3c3;
    text-align: center;
    padding-top: 40px;
  }
  .contents{
    min-height: 450px;
    width: inherit;
    padding-top: 70px;
  }
  .contents-1{
    min-height: inherit;
    width: inherit;
    background: rgba(0,0,0,0.8)
  }
  .search h2 {
    font-size:2.5em;
    font-weight: 600;
    color: #fff;
  }
  .search {
    text-align: center;
  }
  .search p {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.46);
    font-weight: 400;
    margin: 5em auto 1em;
    width: 50%;
  }
  .imagee{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 5px;
  }
  .imagee:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    opacity: 0.7;
    overflow: hidden;
    transition: .5s ease;
    transform: translateY(-7px);
  }
  
</style>
{% endblock %}
