<link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar">
  <a class="navbar-brand" href="#" id="gallery">Gallery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Locations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Nairobi</a>
            <a class="dropdown-item" href="#">Mombasa</a>
            <a class="dropdown-item" href="#">Paris</a>
            <a class="dropdown-item" href="#">New York</a>
          </div>
        </li>
    </ul>
  </div>
</nav>

<style>
     @import url('https://fonts.googleapis.com/css?family=Nunito|Oleo+Script+Swash+Caps');

    .navbar{
      font-family: 'Nunito', sans-serif;
      width: 100%;
      font-size: 20px;
      position: fixed;
      z-index: 1;

    }
    #gallery{
      font-size: 28px;
    }
</style>